[Desktop Entry]
Name=Ffsend Desktop
Comment=Github:Massin Laaouaj
Exec=path_that_you_put_folder_'Script Ffsend Zenity'/ffsend-zenity.sh
Icon=path_that_you_put_folder_'Script Ffsend Zenity'/firefoxsend.png
Terminal=false
Type=Application
StartupNotify=true
